@import "../shared/resets";
@import "../shared/colors";

.home_component {
  width: 75%;
  margin: 0 auto;
  height: 100%;
  background-color: $fantasy;
  margin-top: 2%;
  border-radius: 10px 10px;

  .title {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: solid 1px grey;
  }

  .blog-list {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
